@model List<Parceiro>
@{
    ViewData["Title"] = "Lista de parceiros";
}

<h2>Lista de parceiros</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Parceiro item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Nome</td>
                    <td>@item.Email</td>
                    <td>@item.Cnpj</td>
                    <td>
                        <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Parceiro" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-secondary" asp-route-id="@item.Id" asp-controller="Parceiro" asp-action="Apagar">Deletar</a>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>